<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The PTIT News</title>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/../css/globalScopeStyle.css">
        <link rel="stylesheet" href="/../css/homePage.css">
        <link rel="stylesheet" href="/../css/navbar.css">
        <link rel="stylesheet" href="/../css/styleTrangChu.css">
        <link rel="stylesheet" href="/../css/section3KhoaHocCongNghe.css">
        <link rel="stylesheet" href="/../css/stylesTrangchuThoisu.css">
        <link rel="stylesheet" href="/../css/giaoduc.css">
        <link rel="stylesheet" href="/../css/footer.css">
        <link rel="stylesheet" href="/../css/chiTietBaiVietStyle.css">
        <link rel="stylesheet" href="/../css/trangDanhMuc.css" />
        <link rel="stylesheet" href="/../css/trangDanhMuc2.css"/>
        <link rel="stylesheet" href="/../css/quantri.css">
        <link rel="stylesheet" href="/../css/trangTimKiemBaiViet.css"/>
        <link rel="stylesheet" href="/../css/congDangNhap.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
        <% if (isLoggedIn) { %>
            <div class="user-panel" id="userPanel">
                <div class="user-panel-name-card">
                    <i class="bi bi-person-circle fs-1"></i>
                    <p><%= username %></p>
                </div>

                <hr>

                <div class="user-panel-page-btn">
                    <% if ( role == "Admin" ) { %>
                        <div class="user-panel-page-btn-container">
                            <a href="#"> Trang quản trị </a>
                            <i class="bi bi-arrow-right-circle"></i>
                        </div>
                    <% } else { %>
                        <div class="user-panel-page-btn-container">
                            <a href="#"> Trang cá nhân </a>
                            <i class="bi bi-arrow-right-circle"></i>
                        </div>
                    <% } %>
                    <div class="user-panel-page-btn-container">
                        <a href="/auth/logout" id="logoutBtn"> Đăng xuất </a>
                        <i class="bi bi-arrow-right-circle"></i>
                    </div>
                </div>
            </div>
        <% } %>

        <div class="header" id="navbar-header">

            <div class="navbar-tren">
                <div class="navbar-tren-container">
                    <a href="/"><img src="/../assets/navbarLogo.png" alt=""></a>
    
                    <div class="navbar-tren-tien-ich">
                        <div class="search-bar">
                            <input type="text" placeholder="Search..." class="search-bar-input">
                            <i class="bi bi-search fs-1"></i>
                        </div>
                        <% if (isLoggedIn) { %>
                            <div id="like_storage">
                                <i class="bi bi-box2-heart fs-1 ms-3"></i>
                            </div>
                            <div id="User_name">
                                <i id="User" class="bi bi-person-circle fs-1 ms-4"></i>
                            </div>
                        <% } else { %>
                            <div id="User_name">
                                <i onclick="CongDangnhap()" class="bi bi-person-circle fs-1 ms-4"></i>
                            </div>
                        <% } %>
                    </div>
    
                </div>
            </div>

            <div class="navbar-duoi">
                <div class="navbar-duoi-container container">
                    <div class="logo-duoi-container">
                        <a href="/"><img src="/../assets/navbarLogoSmall.png" alt="" class="hidden-class"></a>
                        <div class="stats-container show-class">
                            <div class="stats-container-inside">
                                <div class="weather-stats">
                                    <p class="weather-stats-city"><%= cityName %></p>
                                    <p class="weather-stats-temp"><%= weather %></p>
                                </div>
                                <div class="day-stats">
                                    <p> <%= currentDate %> </p>
                                </div>
                            </div>
                            <img src="<%= iconUrl %>" alt="">
                        </div>
                    </div>
                    

                    <div class="navbar-duoi-line-container">
                        <img src="/../assets/navbarLine.png" alt="" class="navbarDuoiLine">
                    </div>
                    <div class="cat-set">
                        <ul class="cat-set">
                            <% let catlen %>
                            <% if (categoryTree.length > 6 ) { catlen = 6 } else { catlen = categoryTree.length }%>
                            <% for ( var i = 0; i < catlen; i++) { %>
                                <li class="sub-menu-parent">
                                    <a href="/category/firstcategory/<%= categoryTree[i].name_alias%>?page=1&limit=6"><p class="cat-set-title xa-hoi-title"><%= categoryTree[i].name %></p></a>
                                    <% if (categoryTree[i].children.length) { %>
                                        <div class="drop-down-menu">
                                            <ul class="sub-menu">
                                                <% for ( var j = 0; j < categoryTree[i].children.length; j++ ) { %>
                                                    <a href="/category/secondcategory/<%= categoryTree[i].children[j].name_alias%>?page=1&limit=6"><li class="sub-menu-button"><%= categoryTree[i].children[j].name %></li></a>
                                                <% } %>
                                            </ul>
                                        </div>
                                    <% } %>
                                </li>
                            <% } %>
    
                        </ul>
                    </div>

                    <i class="bi bi-list fs-2 no-select" id="burgerIcon"></i>
                </div>
    
                <div id="bigMenu" class="big-menu hidden-overlay">
    
                    <div class="search-bar-big-container">
                        <div class="search-bar-big">
                            <input type="text" placeholder="Search..." class="search-bar-big-input-menu">
                            <i class="bi bi-search fs-1"></i>
                        </div>
                    </div>
                   
                    <div class="cat-set-big container">
                        
                        <ul class="cat-set-ul">
                            <% for ( var i = 0; i < categoryTree.length; i++) { %>
                                <li>
                                    <a href="/category/firstcategory/<%= categoryTree[i].name_alias%>?page=1&limit=6"><p class="cat-set-big-title xa-hoi-title"><%= categoryTree[i].name %></p></a>
                                    <% if (categoryTree[i].children.length) { %>
                                        <ul class="sub-menu-big">
                                            <% for ( var j = 0; j < categoryTree[i].children.length; j++ ) { %>
                                                <a href="/category/secondcategory/<%= categoryTree[i].children[j].name_alias%>?page=1&limit=6"><li class="sub-menu-button"><%= categoryTree[i].children[j].name %></li></a>
                                            <% } %>
                                        </ul>
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
    
                </div>
            </div>

            <div id="CongDangnhap">
                <div class="login-container">
                    <div class="login-header">
                        <img src="/assets/navbarLogo.png" class="login-header-logo" alt="">
                        <img src="/../assets/backgroundLogin.png" alt="" class="login-header-background">
                        <button onclick="DongDangnhap()" type="button" class="close closs-css login-close-btn" aria-label="Close">
                            <i class="bi bi-x-circle fs-3"></i>
                        </button>
                    </div>

                    <div class="login-switch-tab">
                        <div id="txt_dn" onclick="switchToLogin()" class="clicked-effect">Đăng nhập</div>
                        <div id="txt_dk" onclick="switchToSignup()">Đăng ký</div>
                    </div>
        
                    <div id="Dangnhap" class="form-input active">
                        
                        <form id="loginForm" class="login-form" action="/auth/login" method="POST">
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="email1" class="User col-sm-2 col-form-label">Email</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="email" class="form-control" id="email1" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="password1" class="User col-sm-2 col-form-label">Password</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="password" class="form-control" id="password1" name="password">
                                    </div>
                                </div>
                            </div>
                            <span class="d-inline-block mt-3" 
                                  tabindex="0" 
                                  data-bs-toggle="popover" 
                                  data-bs-placement="right"
                                  data-bs-trigger="hover focus" 
                                  data-bs-content="Vui lòng điền đầy đủ thông tin!">
                                <button type="submit" 
                                        class="btn btn-primary btn-login-style" 
                                        id="loginBtn" 
                                        disabled>
                                    Đăng nhập
                                </button>
                            </span>
                        </form>
                        
                    </div>

                    <div id="Dangky" class="form-input">
                        
                        <form id="registerForm" class="login-form" action="/auth/register" method="POST">
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="username5" class="User col-form-label">Họ và tên</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="text" class="form-control" id="username5" name="username">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="email5" class="User col-form-label">Email</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="email" class="form-control" id="email5" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="login-form-input-outside-container">
                                <div class="row">
                                    <label for="password5" class="User col-sm-2 col-form-label">Password</label>
                                </div>
                                <div class="row mb-3 input-container">
                                    <div class="col-sm-10 input-inside-container">
                                        <input type="password" class="form-control" id="password5" name="password">
                                    </div>
                                </div>
                                <span class="d-inline-block mt-3" 
                                  tabindex="0" 
                                  data-bs-toggle="popover" 
                                  data-bs-placement="right"
                                  data-bs-trigger="hover focus" 
                                  data-bs-content="Vui lòng điền đầy đủ thông tin!">
                                <button type="submit" 
                                        class="btn btn-primary btn-login-style" 
                                        id="registerBtn" 
                                        disabled>
                                    Đăng ký
                                </button>
                            </span>
                            </div>

                        </form>

                    </div>
                    
                </div>
            </div>

        </div>

    </body>
</html>