<%- include("partials/header.ejs") %>

        <div class="page-container">
            
            <div class="article-title con900">
                <div class="article-title-info">
                    <h6 class="article-cat-name"> 
                        <% if ( categoryDetals.parent_category) { %>
                            <%= categoryDetals.parent_category %> 
                            <i class="bi bi-caret-right-fill"></i>
                            <%= categoryDetals.child_category %>
                        <% } else { %>
                            <%= categoryDetals.child_category %>
                        <% } %> 
                        
                    </h6>

                    <h2><%= articleDetals.heading %></h2>
                </div>

                <div class="article-under-title">
                    <div class="article-title-author-info">
                        <p class="author-name"><%= userDetals.username %></p>  
                        <p class="author-upload-info"><%= formattedDate %></p>
                    </div>

                    <div class="article-title-share">
                        <a href=""><i class="bi bi-facebook fs-3 article-icon"></i></a>
                        <a href=""><i class="bi bi-messenger fs-3 article-icon"></i></a>
                        <a href=""><i class="bi bi-twitter-x fs-3 article-icon"></i></a>
                    </div>
                </div>

                
            </div>

            <div class="hero-image container">
                <img src="<%= articleDetals.hero_image%>" alt="">
            </div>

            <div class="red-background"></div>

            <div class="article-body con900">
                <% articleDetals.content.split(/\r\n+/).forEach(function(paragraph) { %>
                    <p><%= paragraph %></p>
                  <% }); %>
            </div>

            <div class="comment-section container">

                <img src="../assets/vectors/goBackBtn.png" alt="" class="go-back-button">

                <div class="comment-section-container container">

                    <h3>Bình luận</h3>

                    <div class="comment-numbers"><span class="comment-num">0</span><p>bình luận</p></div>
                    
                    <div class="comment-section-user con900">

                        <div class="user-info">
                            <img src="../assets/vectors/avatarComment.png" alt="" class="user-avatar">
                            <h3 class="user-name">Nguyễn Quang Trung</h3>
                        </div>

                        <div class="comment-input">
                            <input type="text" placeholder="Hãy để lại bình luận của bạn." class="user-comment">
                            <div class="comment-input-button">
                                <button type="submit" disabled id="publish-button" class="btn btn-outline-primary">Đăng tải</button>
                            </div>
                        </div>
                        
                    </div>

                    <div class="comments con1140"></div>

                </div>

                <div class="thu-gon-container">
                    <div class="d-grid gap-2 col-2 mx-auto">
                        <button class="btn btn-outline-primary xem-them hidden" type="button"><p>Xem thêm</p></button>
                      </div>
                </div>

            </div>

            <div class="tin-lien-quan-section">
                <div class="tin-lien-quan-container container">
                    <div class="tin-lien-quan-line-container">
                        <img src="../assets/vectors/line.png" alt="">
                    </div>
                    <h3>Tin Liên Quan</h3>
                </div>

                <div class="tin-lien-quan-layout container">
                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

<%- include("partials/footer.ejs") %>

