<%- include("partials/header.ejs") %>

    <div class="page-container">
        <div class="image-title">
            <!-- <img src="/../assets/trangDanhMuc2Images/anhHeader.png" alt="việt nam vô địch" /> -->
            <img src="/../assets/trangDanhMucBackgroundImages/glassPanelTrangChu.png" alt="" class="glass-panel"/>
            <div class="title">
                <h1><%= categoryData[0].category_name %></h1>
            </div>
        </div>
    
        <div class="section-1020">

            <img class="redLine" src="/../assets/trangDanhMuc2Images/dongKeMauDo.png"/>

            <% if ( articles.length ) { %>
                <% for ( let i = 0; i < articles.length; i++ ) { %>
                    <div class="search-items">
                        <div class="image">
                            <a href="../html/chiTietBaiViet.html">
                                <img src="<%= articles[i].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="../html/chiTietBaiViet.html"><div class="title-section"><%= articles[i].heading %></div></a>
                            <div class="date"><%= articles[i].day_created %></div>
                            <div class="description">
                                <p>
                                    <a href="../html/chiTietBaiViet.html">
                                        <%= articles[i].content %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
    
            <!-- <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="search-items">
                <div class="image">
                    <a href="../html/chiTietBaiViet.html">
                        <img src="/../assets/trangDanhMuc2Images/anhMessi.png" alt="Messi bị phạt">
                    </a>
                </div>
                <div class="content">
                    <a href="../html/chiTietBaiViet.html"><div class="title-section">Messi và Suarez bị phạt vì túm cổ đối phương</div></a>
                    <div class="date">Thứ Tư, 14:56, 26/02/2025</div>
                    <div class="description">
                        <p>
                            <a href="../html/chiTietBaiViet.html">
                                VOV.VN - Messi và Luis Suarez bị Ban tổ chức MLS phạt tiền vì có hành vi túm cổ đối phương trong trận đấu giữa Inter Miami và New York City vào ngày 22/2.
                            </a>
                        </p>
                    </div>
                </div>
            </div> -->
        
        </div>
        
<%- include("partials/footer.ejs") %>