<%- include("partials/header.ejs") %>

    <div class="page-container">
        <div class="image-title">
            <!-- <img src="/../assets/trangDanhMuc2Images/anhHeader.png" alt="việt nam vô địch" /> -->
            <img src="/../assets/trangDanhMucBackgroundImages/glassPanelTrangChu.png" alt="" class="glass-panel"/>
            <div class="title">
                <h1><%= categoryData[0].category_name %></h1>
            </div>
        </div>
    
        <div class="section-1020">

            <img class="redLine" src="/../assets/trangDanhMuc2Images/dongKeMauDo.png"/>

            <% if ( articles.length ) { %>
                <% for ( let i = 0; i < articles.length; i++ ) { %>
                    <div class="search-items">
                        <div class="image">
                            <a href="../html/chiTietBaiViet.html">
                                <img src="<%= articles[i].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="../html/chiTietBaiViet.html"><div class="title-section"><%= articles[i].heading %></div></a>
                            <div class="date"><%= articles[i].day_created %></div>
                            <div class="description">
                                <p>
                                    <a href="../html/chiTietBaiViet.html">
                                        <%= articles[i].content %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
    
            <% if ( pageStatus.total > 1 ) { %>
                <nav aria-label="...">
                    <ul class="pagination mt-5 px-1 justify-content-end">
                        <% if (pageStatus.previous) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= pageStatus.previous.page %>&limit=<%= pageStatus.previous.limit %>">Previous</a>
                            </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <a class="page-link" href="">Previous</a>
                            </li>
                        <% }%>
                            
                        <div class="page-link">
                            <% if (pageStatus.previous) { %>
                                <p class="page-link-p"><%= pageStatus.previous.page + 1 %>/<%= pageStatus.total %></p>
                            <% } else { %>
                                <p class="page-link-p"> 1/<%= pageStatus.total %></p>
                            <% } %>
                        </div> 
            
                        <% if (pageStatus.next) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= pageStatus.next.page %>&limit=<%= pageStatus.next.limit %>">Next</a>
                            </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <a class="page-link" href="">Next</a>
                            </li>
                        <% }%>
                    </ul>
                </nav>
            <% } %>

        </div>
        
<%- include("partials/footer.ejs") %>